.wrapper {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  background: var(--light-gray);
  /* padding: 20px; */
}

.logout {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--orange);
  color: var(--white);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
